mixin sBenefits(data)
	// start sBenefits
	+b.SECTION.sBenefits.section#sBenefits&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Неочевидные выгоды циклического трейдинга
				h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
			+e.row.row
					mixin item(span, text, customClass)
						+e.col.col-sm-12.col-lg-4
							+e.item(class=customClass)
								span!= span
								if text
									p!= text
					+item('Циклический трейдинг —', 'самый простой способ заработка на финансовых рынках')
					+item('Циклический трейдинг —', 'самый прибыльный вид трейдинга, согласно официальному исследованию.')
					+item('С этими очевидными выгодами мы уже разобрались. Пора упомянуть о том, что осталось за скобками.', '', '--secondary')
			+e.wrap
				+benefitItem('sBenefit-4', 'Невероятно высокая эффективность.')
					p Что такое эффективность? Чем меньше Вы тратите своего времени и усилий на получение дохода, тем эффективнее Ваш заработок.
					p В циклическом трейдинге Вы тратите на получение дохода секунды.
					p Вам не надо караулить у монитора, высиживать сделки и тратить свое время. Эффективность этого способа заработка просто зашкаливает.
				+benefitItem('sBenefit-3', 'Ваше спокойствие')
					p Главный враг трейдера – его эмоции. Трейдеры тратят кучу нервов на выжидание входа в сделку, на сопровождение сделок и переживание периодов просадки.
					p Составьте расписание сделок на год с помощью TradingVision.PRO и торгуйте по календарю спокойно, а свои эмоции оставьте для реальной жизни.
				+benefitItem('sBenefit-2', 'Стабильность и надежность.')
					p Циклические стратегии работают десятилетиями, и на них не влияют даже глобальные изменения на рынках.
					p Например, годовой цикл акций Coca Cola (рост с 3 октября по 29 декабря) работает уже более 60 лет.
					p Вы представляете, сколько изменений произошло на рынках за 60 лет?! А эта циклическая стратегия продолжает стабильно приносить деньги
				+benefitItem('sBenefit-1', '')
					h4 Trading#[span Vision].PRO – Ваша<br>уверенность в будущем
					p Циклы – фундаментальное свойство каждого финансового рынка. Неважно, какие изменения будут происходить на рынках в будущем, Вы всегда сможете находить новые циклы на любых инструментах.
					p Новые рынки, новые инструменты - покорять их с помощью TradingVision.PRO легко и увлекательно!
	// end sBenefits

mixin benefitItem(img, title)
	+b.benefit-item
		+e.img-wrap: +img(`img/${img}.png`, 'bg')
		+e.descr
			if title
				h4= title
			if block
				block

//- mixin benefitItem(img, title)
//- 	+b.benefit-item
//- 		+e.img-wrap: +img(`img/${img}.png`, 'bg')
//- 		+e.descr
//- 			if title
//- 				h4= title
//- 			if block
//- 				block