mixin sFindYourself(data)
	// start sFindYourself
	+b.SECTION.sFindYourself.curcle-blur.section#sFindYourself&attributes(attributes)
		.container
			.section-wrap
				+b.section-title.text-center
					h2 Найдёте себя?
					h4 Чтобы прийти к успеху в трейдинге, Вам нужно:
				+e.row.row
					mixin item(span, text)
						.col-md-6.col-xl-3
							+e.item
								span!= span
								p!= text
					+item('Вы новичок в трейдинге и хотите научиться зарабатывать на финансовых рынках?', 'TradingVision.PRO обеспечит Вам комфортный старт в трейдинге. Чтобы получать прибыль с первых дней, от Вас не требуется ни стартовых знаний, ни долгого обучения, ни тренировок и наработки навыков.')
					+item('Вы практикующий трейдер и хотите облегчить свою работу?', 'Взгляните другими глазами на процесс заработка денег в трейдинге. TradingVision.PRO поможет Вам находить закономерности, которые не видят другие трейдеры. Фраза “Кто владеет информацией, тот владеет миром” как раз об этом.')
					+item('Вы долгосрочный инвестор и хотите повысить прибыльность Вашего портфеля?', 'TradingVision.PRO подсветит для Вас точки начала роста цены – лучшие моменты для покупки активов в портфель.')
					+item('Вы занятой человек и хотите создать источник дополнительного дохода, не отнимающий много времени?', 'Трейдинг по календарю с помощью TradingVision.PRO – идеальное решение для получения второй зарплаты, для этого Вам понадобится не более двух минут в неделю.')
				+e.row.row
					mixin itemCard(span, text, customClass, img)
						.col-sm-12.col-lg-6
							+e.item-card(class=customClass)
								span!= span
								p!= text
								if img
									+img(`img/${img}`)
					+itemCard('Не важно, кто Вы, откуда и чем занимаетесь. ', 'Если Вы здесь, значит Вас интересует возможность зарабатывать деньги на финансовых рынках.', '--gray', 'sFindY-img.png')
					+itemCard('Освойте рыночные циклы на практике или перестаньте уже тратить время на поиски Грааля. Проще и комфортнее Вы уже ничего не найдете.', 'Циклический трейдинг – самый простой, надежный и прибыльный способ получения прибыли.', '--secondary')
				+e.text-wrap.text-center
					h4 Не важно, кто Вы, откуда и чем занимаетесь.
					p Если Вы здесь, значит Вас интересует возможность зарабатывать деньги на финансовых рынках.
				+e.text-wrap.text-center
					h4 Освойте рыночные циклы на практике или перестаньте уже тратить время на поиски Грааля. Проще и комфортнее Вы уже ничего не найдете.
					p Циклический трейдинг – самый простой, надежный и прибыльный способ получения прибыли.
				.text-center: +btnBase('Жмите, чтобы начать зарабатывать в циклическом трейдинге')

	// end sFindYourself